rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /visitors/{doc=**} {
      allow read, write: if true;
    }
    match /stats/{doc=**} {
      allow read, write: if true;
    }
    match /schedules/{doc=**} {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.token.email == 'tkdboykms0007@gmail.com';
    }
    match /locations/{doc=**} {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.token.email == 'tkdboykms0007@gmail.com';
    }
    match /coaching_knowledge/{doc=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && request.auth.token.email == 'tkdboykms0007@gmail.com';
    }
  }
}
